* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	text-align: center;
}

/*set variables to keep the main colors*/
:root {
	--primaryColor: #06224A;
	--secondaryColor: #8FBAF3;
	--tertiaryColor: #114288;
	--fourthColor:  #FFFFFF;
	--colorLinksHex: #BDF1F6;
	--colorLinksRGB: rgb(211, 247, 250);
	--shadowColor: #cccccc;
}

body {
	background-color: var(--primaryColor);
	color: var(--fourthColor);
	font-family: Noto Sans, sans-serif !important;
	font-size: 16px;
	line-height: 1.4em;
	min-width: 300px;
	width: 100%;	
}

/*general configurations*/
h1, h2, h3, h4, h5, h6 {
	color: var(--secondaryColor);
	margin: 0.8em;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 14px;
}


p {
	margin: 0.8em 20px;
}

a {
	color: var(--tertiaryColor);
}

a:visited{
	color: var(--colorLinksRGB);
}

header {
	position: fixed;
	top: 0;
	background-color: var(--primaryColor);
	z-index: 2;
	width: 100%;
}

/*set the behavior of the progress bar*/
#progress-bar {
	--scrollAmount: 0%;
	background-color: var(--secondaryColor);
	width: var(--scrollAmount);
	height: 10px;
	position: fixed;
	top: 0;
	z-index: 4;
}


/*------------styles to the image-----------------*/
div#img-div {
	background-color: var(--tertiaryColor);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23ffffff' fill-opacity='0.08'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	padding: 0px 10px;
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;	
	margin-top: 110px;
}


figure#image-pv {
	background-color: var(--primaryColor);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 20px var(--primaryColor);
	-mox-box-shadow: 0 0 20px var(--primaryColor);
	-webkit-box-shadow: 0 0 20px var(--primaryColor);
	width: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;	
}

#image {
	border-radius: 10px;
	width: 98%;
}

/*------------styles to the content of the page-----------------*/
/*center the elements*/
section#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;	
}

section#content *{
	max-width: 650px;
	margin: 25px 15px;
}

section#content li {
	color: var(--primaryColor);
	background-color: var(--fourthColor);
	padding: 5px 15px;
	box-shadow: 0 0 5px var(--fourthColor);
	-mox-box-shadow: 0 0 5px var(--fourthColor);
	-webkit-box-shadow: 0 0 5px var(--fourthColor);
	border-radius: 15px;
	list-style-type: none;
}


/*------------styles to the blockquotes-----------------*/
q {
	quotes: "“" "”" "‘" "’";
}

q::before {
    content: open-quote;
}

blockquote {
	background: var(--fourthColor, rgb(255, 255, 255));
	max-width: 800px;
	color: var(--tertiaryColor);
	border-left: 10px solid var(--secondaryColor);
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	border-radius: 5px;
	text-align: left;
}

blockquote:before {
	color: var(--shadowColor);
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}


/*------------ add web responsive-----------------*/
@media (max-width: 280px) {
	h1 {
		font-size: 28px;
	}
}

/*Dispositivos extra pequeños*/
@media (max-width: 572.98px) {
	figure#image-pv {
		width: 90%;
	}
	div#img-div{
		margin-top: 130px;
	}
}

/*Dispositivos pequeños*/
@media (min-width: 576px) and (max-width:767.98px) {
	figure#image-pv {
		width: 90%;
	}
}

/*Dispositivos extra grandes*/
@media (min-width:1200px) {
	figure#image-pv {
		width: 750px;
	}
	section#content *{
		max-width: 900px;
	}
	blockquote>p{
		max-width: 800px;
	}
}